**/target
*.iml
**/*.iml
.classpath
.project
**/.settings/
/dompap-bom/
/dompap-common/
/dompap-domain/
**/.idea
/dompap-workflow-spring-example/
/dompap-domain/
/dompap-common/
/dompap-workflow-parent/
/dompap-workflow-spring/
/dompap-ui-util/
/dompap-next/
/dompap-rest-service-parent/
/dompap-workflow-next/
/dompap-workflow-parent/
/dompap-workflow-rest/
/dompap-workflow-spring-example/
/dompap-perftest/
/.idea/
